<p id="notice"><%= notice %></p>

<h1>Resturents</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resturents.each do |resturent| %>
      <tr>
        <td><%= resturent.name %></td>
        <td><%= resturent.address %></td>
        <td><%= resturent.phone %></td>
        <td><%= resturent.website %></td>
        <td><%= link_to 'Show', resturent %></td>
        <td><%= link_to 'Edit', edit_resturent_path(resturent) %></td>
        <td><%= link_to 'Destroy', resturent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resturent', new_resturent_path %>
