<div class="row">
	<div class="col-md-3">
		<%= image_tag @resturent.image_url %>
			<h2>
			  <%= @resturent.name %>
			</h2>

			<p>
			  <strong>Address:</strong>
			  <%= @resturent.address %>
			</p>

			<p>
			  <strong>Phone:</strong>
			  <%= @resturent.phone %>
			</p>

			<p>
			  <strong>Website:</strong>
			  <%= link_to @resturent.website, @resturent.website  %>
			</p>


			<%= link_to "Create Review",  new_resturent_review_path(@resturent), class: "btn btn-primary" %>
	</div>

	<div class="col-md-9">
			<% if @reviews.blank? %>
				<h3>No reviews yet. Be the first to write one!</h3>
			<% else %>
				<% @reviews.each do |review|%>
					<p><%= review.rating %></p>
					<p><%= review.comment %></p>
			<% end -%>
		<% end -%>
	</div>
</div>



<%= link_to 'Edit', edit_resturent_path(@resturent), class: "btn btn-link" %> |
<%= link_to 'Back', resturents_path, class: "btn btn-link" %>
