<!DOCTYPE html>
<html>
  <head>
    <title>YelpDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= render 'shared/bootstrap' %>

  </head>

  <body>

    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/footer' %>

  </body>
</html>
